.parent {
  display: flex;
  justify-content: space-around;
  gap: 5px;
  border: 2px solid black;
  /* flex-wrap: wrap; */
  flex-direction: row;
  align-items: stretch;
}

.child {
  height: 100px;
  width: 100px;
  background: red;
}

#fourth {
  /* height: 200px; */
  flex-grow: 4;
}

.float {
  float: right;
}
